.imagenes{
  width: 90%;
  height: 90%;
  margin-top: 10px;
  object-fit: contain;
}

.imagen:hover {
  filter: opacity(.5);
}

.card-body {
  background-color: #5C6B73 !important;
  color: white !important;
}

.card {
  box-shadow: 10px 5px 5px black;
}

.imagen{
  height: 475px !important;
  width: 100%;
}